body {
  background-color: #27272a;
  color: #ededff;
  display: grid;
  place-items: center;
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
  margin-top: 0.25rem;
}

li {
  margin-bottom: 0.125rem;
}

.container {
  width: 80%;
  max-width: 47rem;
  padding: 20px;
}

.container h1,
.container h2,
.container h3,
.container p,
.container li,
.container footer,
.nav-menu {
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
}

.container h1,
.container h2,
.container h3 {
  text-align: left;
  margin: 0 0 10px;
}

.container h2,
.container h3 {
  padding-right: 1rem;
}

.container h2 {
  font-weight: 400;
  padding-left: 1rem;
  border-left: 3px solid #8e8e99;
}

.container h3 {
  font-weight: 300;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #bebecc;
}

.container p,
.container li,
.container footer {
  font-style: normal;
  font-weight: 300;
}

h1 > a {
  font-weight: normal;
  color: #ededff;
}

h1 > a:hover {
  text-decoration: none;
}

.nametag {
  font-size: x-large;
  margin: 0;
}

.description {
  margin: 0;
}

.contacts {
  margin: 1.5rem auto;
  text-align: left;
  font-size: medium;
}

.contacts p {
  padding-bottom: 0.25rem;
}

.accounts {
  margin: 1.5rem 0;
  font-size: large;
  text-align: center;
}

.accounts i {
  color: #ededff;
}

.div-footer-box {
  padding: 0.5rem 0;
  border-top: 1px dashed #bebecc;
}

.nav-menu {
  margin-bottom: 1rem;
  font-size: large;
}

.nav-menu a:not(:last-child)::after {
  content: "|";
  margin: 0 5px;
  color: #bebecc;
}

.nav-breadcrumb {
  margin: 1rem 0;
}

.icon {
  margin: 1rem;
  border-radius: 100%;
}

.counter {
  margin-top: 0.5rem;
  text-align: center;
}

.banner {
  border: 1px solid #bebecc;
}
